li a{
text-decoration:none;

margin:15px;
display: block;
padding:10px;
font-size:30px;
font-weight:bold;
color:white;
background-color: violet;
text-align: center;

}

li{
    list-style-type: none;   
  
    width: 200px;
}


ul{
    
    padding: 0px;
    margin: 0;
    
    }

  li a:hover{
background-color:ghostwhite;
color:red;

    }